[Unit]
Description=Hourly purge of expired notes of cp instance @NAME@

[Timer]
OnCalendar=hourly
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target
